<div class="card">
  <p-carousel [value]="(products$ | async)??[]" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1"
    [circular]="false" [responsiveOptions]="responsiveOptions">

    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3">
            <img src="assets/images/product/{{product.image}}" [alt]="product.name" class="product-image" />
          </div>

          <div>
            <h2 class="mt-1">{{product.name}}</h2>
            <p-tag *ngIf="product.inventoryStatus === 'INSTOCK'" [severity]="severityByInventoryStatus.INSTOCK">
              {{labelByInventoryStatus.INSTOCK}}</p-tag>
            <p-tag *ngIf="product.inventoryStatus === 'LOWSTOCK'" [severity]="severityByInventoryStatus.LOWSTOCK">
              {{labelByInventoryStatus.LOWSTOCK}}</p-tag>
            <p-tag *ngIf="product.inventoryStatus === 'OUTOFSTOCK'" [severity]="severityByInventoryStatus.OUTOFSTOCK">
              {{labelByInventoryStatus.OUTOFSTOCK}}</p-tag>
            <h4 class="">${{product.price}}</h4>

            <div class="m-2">
              <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            </div>

            <div class="flex flex-column align-items-center">
              <button pButton type="button" icon="pi pi-heart"
                class="p-button-rounded p-button-danger" [ngClass]="{'p-button-outlined':!product.liked}" (click)="likeProduct(product)"></button>
                <button pButton type="button" label="Add to cart" icon="pi pi-shopping-cart" iconPos="left" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
